*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;    
  /* background-image: linear-gradient(purple,rgb(238, 48, 238)); */
  background-color: #3aaccb;
  min-height: 100vh;
  width: 100%;
}
